.footer {
    background-color: #16161a;
    color: #ffffff;
    text-align: center;
    /* position: fixed; */
    /* bottom: 0px; */
    width: 100%;
    padding: 20px;
}

.navpub {
    display: flex;
    color: #16161a;
    background-color: #e6e6e641;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.navpublogo {
    display: flex;
    justify-content: flex-start;
}

.navpublogoimg {
    max-width: 25%;
}

.navpubitems {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navpubitemseach {
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    margin-left:20px;
    margin-top:auto;
    margin-bottom: auto;
    color:#16161a

}

.navpubitemseach:hover {
    border-bottom: 1px solid #38383e;
}

.navpri {
    background-color: #22282c;
    color: #dee7ef;
    display: flex;
    padding: 5px;
}

.navprihello {
    text-align: center;
    flex-grow: 1;
    font-size: xx-large;
}

.navprihellotext {
    margin-top:auto;
    margin-bottom: auto;
}

.navprilogoimg {
    width: 25%;
    height: auto;
}

.navpriitems {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navpriitemseach {
    padding: 10px;
    justify-content: center;
    margin-left:20px;
    margin-top:auto;
    margin-bottom: auto;
    color: #dee7ef;
}